body {
    background-color: blueviolet;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    color: blueviolet;
    background-color: white;
    font-family: 'Love Ya Like A Sister', cursive;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.logoContainer:hover {
    color: white;
    text-decoration: none;
}

.logoImg {
    margin-right: 0.5rem;
}

.logoTitle {
    color: blueviolet;
    margin: 0;
    text-align: center;
}

.headerProfileDisplay {
    display: inline;
    background-color: red;
}

.clearButton, .logoutButton {
    border-radius: 0.25rem;
    color: black;
    background-color: white;
    border: solid 2px rgb(255, 255, 255);
    box-shadow: 2px 2px 1px 1px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 20px;
}

.clearButton i{
    padding-left: 0.3rem;
}

main {
    padding: 10px;
}

h2 {
    color: white;
}

.historyList {
    background-color: white;
    border: solid 2px rgb(255, 255, 255);
    box-shadow: 2px 2px 1px 1px rgb(0, 0, 0);
    border-radius: 1rem;
    min-width: 300px;
    max-width: 100%;
    overflow-x: scroll;
    padding-top: 10px;
    padding-bottom: 20px;
}

.historyList::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.historyList::-webkit-scrollbar-track {
    background-color: rgba(209, 209, 209, 0.753);
    border-radius: 10px;
    margin: 10px;
    
}

.historyList::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}

.historyList::-webkit-scrollbar-thumb:hover {
    background: grey; 
}
