body {
    background-color: blueviolet;
}

.loginContainer {
    position: relative;
    left: calc(50% - 250px);
    margin-top: 20px;
    display: grid;
    grid-template-rows: 3;
    grid-template-columns: 2;
    grid-gap: 0px 0px;
    align-items: center;
    justify-items: center;
    width: 500px;
    height: 300px;
    background-color: white;
    border: solid 2px rgb(255, 255, 255);
    box-shadow: 2px 2px 1px 1px rgb(0, 0, 0);
    border-radius: 1rem;
}

.title {
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    font-family: 'Love Ya Like A Sister', cursive;
    text-align: left;
    justify-self: left;
}

.logoImg {
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
}

.userInput {
    grid-row: 2;
    grid-column: 1/3;
}