.UserInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    min-height: 4rem;
    height: auto;
    background-color: white;
    border: 2px solid rgb(180, 180, 180);
    box-shadow: 0px 0px 2px 2px rgb(236, 236, 236);
    border-radius: 25px;
    transition: all 0.1s ease-out;
}

.UserInput:focus-within {
    border: 2px solid rgb(236, 236, 236);
    box-shadow: 0px 0px 5px 5px rgb(236, 236, 236);
}

.TextInput, .SubmitButton {
    border: unset;
    font-size: 1.5rem;
    background-color: unset;
}

.TextInput {
    max-width: 50vw;
    padding-left: 1rem;
}

.SubmitButton {
    color: white;
    background-color: blueviolet;
    border-radius: 100%;
    width: 2.5rem;
    height: 90%;
    position: relative;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-radius 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

.buttonText {
    padding-right: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
}

.TextInput:focus + .SubmitButton {
    width: 150px;
    border-radius: 1rem;
}

.TextInput:focus + .SubmitButton .buttonText {
    animation: 0.5s both widen;
}

.SubmitButton:hover {
    width: 150px;
    border-radius: 1rem;
}

.SubmitButton:hover .buttonText {
    animation: 0.5s both widen;
}

.TextInput:focus {
    border: unset !important;
    outline: unset !important;
}

@keyframes widen {
    from { width: 0% }
    to { width: 100% }
}

@media only screen and (max-width: 600px) {
    .UserInput {
        padding: 3%;
    }
}